My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "35ebf3f8-d587-460f-bc49-79e4edd929dd",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "description": "Use the tool to think about the news. make sure u understand the news and give the best eye catchyness to the news"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -16,
        336
      ],
      "id": "6afb588c-4158-4989-8f3b-921afe17ba14",
      "name": "Think"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send your output using this to all the subcribers of this newsletter",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `use the email from the sheet provided as input to fetcth the email address and send put them here one by one to send the newsletter to all the subscribers`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `provide an eye catchy newsletter subject. Remember you are from jallas pharmacy`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `use a beautiful html to send. make sure that u greet the subscriber with name and use proper background colours and cards for news. make it look eye catchy and beautiful. Always put the gretting and name in a big text format and noticable way. also put the logo of jallaspharmacy at the top. link for the logo is \"https://www.jallaspharmacy.com/wp-content/uploads/2023/08/Jallas-Pharmacy-2.png\" make sure that the introduction , main report and summary are visible distinctively by being bolder. add a button at the end saying click here if you have health related issues. it should redirect to jallaspharmacy.com. use the color green for the newsletter. \n`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        480,
        384
      ],
      "id": "bdbae6ef-a964-4a4b-9b90-5ef8f16578bd",
      "name": "Send a message in Gmail",
      "webhookId": "8fe813bf-be49-4994-8cb7-dbf1a16b70fd"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        176
      ],
      "id": "0677472d-8518-4aec-a1fb-1903fdb2164e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this tool to know the topics and get an idea about the topics by the examples proived ",
        "documentId": {
          "__rl": true,
          "value": "1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA",
          "mode": "list",
          "cachedResultName": "newsletter topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -160,
        384
      ],
      "id": "d8527c05-53c9-4c52-b812-65b113242bb2",
      "name": "Get row(s) in sheet in Google Sheets"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Readable date'] }}",
        "options": {
          "systemMessage": "=You are a News Finder Bot.\n\nDATA SOURCE:\n- You will receive rows from a Google Sheets tool. Choose any two rows randomly and generate exactly 5 news articles in total (row1 + row2 = 5 news). Make sure to choose a different combination each time.\n- Each row contains exactly:\n  - Topic (the subject you must find news about)\n  - Example (a sample headline or idea to guide your search. Do not include or copy the example at any point)\n\nYOUR TASK:\n1. For the Topics you choose (guided by the Examples), find **five distinct, trustworthy news articles** across both topics combined.\n2. News must be **as recent as possible**:\n   - Prefer articles from **yesterday or today**.\n   - If five are not available, expand to the past week, but always return five.\n3. Only include articles from reputable global sources (Reuters, AP, BBC, Bloomberg, The Guardian, WHO, major newspapers, science journals, etc.).\n4. Never repeat the same news.\n\nOUTPUT FORMAT:\n- Always return exactly **five news objects** in a JSON array.\n- Example:\n[\n  {\n    \"headline\":\"...\",\n    \"detailed_summary\":\"Introduction (3 lines)\\n\\nMain Report (8 lines)\\n\\nSummary (2-4 lines)\"\n  },\n  {\n    \"headline\":\"...\",\n    \"detailed_summary\":\"Introduction (3 lines)\\n\\nMain Report (8 lines)\\n\\nSummary (2-4 lines)\"\n  },\n  ...\n]\n\nRULES:\n- If no exact matches are available, broaden to closely related themes based on the Topics and Examples.\n- Always return 5 items. If necessary, adjust the date range slightly to ensure five.\n- Each detailed_summary must contain **10–15 lines total**, structured as:\n  - **Introduction (≈3 lines)**: brief context and why the story matters\n  - **Main Report (≈8 lines)**: the detailed facts, background, and updates\n  - **Summary (≈2–4 lines)**: concise wrap-up of the key takeaway\n- Keep tone factual, unbiased, and professional.\n- Do not add commentary, opinions, URLs, or any text outside the JSON.\n\nGOAL:\nGiven two chosen Topics and Examples, output exactly 5 recent, trustworthy, and relevant news items in JSON format with detailed, structured summaries.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        160
      ],
      "id": "fc1a2e0f-17cd-4e8f-b769-1d955cf622f7",
      "name": "news finder"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "read the names email and status using this tool and emails to the respective email addresses and include names to personalize the newsletter.",
        "documentId": {
          "__rl": true,
          "value": "1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU",
          "mode": "list",
          "cachedResultName": "newsletter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        256,
        400
      ],
      "id": "6666ce6a-9442-4ff5-b0bb-8eb34044a5e2",
      "name": "Get row(s) in sheet in Google Sheets1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "you are a email sending bot. your work is to send email of the output given to you as input and send it to the users . use the sheet for the email addresses of the subscribers to whom u will send the email. also personalize the email by using names in the google sheet tool. use the email tool to send email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        160
      ],
      "id": "ca9fc540-33e5-4013-aad7-d994bd64593b",
      "name": "email sender"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        352
      ],
      "id": "17c82464-420b-47a7-b4bb-04889b03dbaa",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "news finder",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "email sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "news finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "email sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "news finder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "news finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "news finder": {
      "main": [
        [
          {
            "node": "email sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "email sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "news finder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c29263c-d07f-4014-a773-d217ebc02cba",
  "meta": {
    "instanceId": "a2d3c466da25cf9540e9c24141a1c16dbf5e7c37a85c3b586d1ccc93f6fb050b"
  },
  "id": "cdGWIMUEkxZ9yc3H",
  "tags": []
}