NewsLetter (1).json
{
  "name": "NewsLetter",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        -160
      ],
      "id": "2789ad1c-6386-4069-9719-f053fb5a63d5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rIeu0rltBDK7Xvoi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use the tool to think about the news. make sure u understand the news and give the best eye catchyness to the news"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        320,
        176
      ],
      "id": "150ee56b-d3fe-4ace-ba9b-a4c3fab5cddb",
      "name": "Think"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send your output using this to all the subcribers of this newsletter",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `use the email from the sheet provided as input to fetcth the email address and send put them here one by one to send the newsletter to all the subscribers`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `provide an eye catchy newsletter subject. Remember you are from jallas pharmacy`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `use a beautiful html to send. make sure that u greet the subscriber with name and use proper bakcground colours and cards for news. nake it look eye catchy and beautiful. Always put the gretting and name in a big text format and noticable way\n`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        816,
        224
      ],
      "id": "e92f8de8-5ff0-49f9-b6b3-d91a9e82478b",
      "name": "Send a message in Gmail",
      "webhookId": "8fe813bf-be49-4994-8cb7-dbf1a16b70fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "1YygfsfagdB0rylS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        16
      ],
      "id": "5a572aa3-e778-4870-b4e5-bf53f91c8416",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this tool to know the topics and get an idea about the topics by the examples proived ",
        "documentId": {
          "__rl": true,
          "value": "1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA",
          "mode": "list",
          "cachedResultName": "newsletter topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        176,
        224
      ],
      "id": "07c16c67-2209-4580-a1af-d3bdfc988e6d",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QdDvr4GhYX08yJKB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Readable date'] }}",
        "options": {
          "systemMessage": "=You are a News Finder Bot.\n\nDATA SOURCE:\n- You will receive rows from a Google Sheets tool. Choose any one row randomly and generate 5 news articles for it only. Make sure to choose a different one each time.\n- Each row contains exactly:\n  - Topic (the subject you must find news about)\n  - Example (a sample headline or idea to guide your search)\n\nYOUR TASK:\n1. For the Topic you choose (guided by the Example), find **five distinct, trustworthy news articles**.\n2. News must be **as recent as possible**:\n   - Prefer articles from **yesterday or today**.\n   - If five are not available, expand to the past week, but always return five.\n3. Only include articles from reputable global sources (Reuters, AP, BBC, Bloomberg, The Guardian, WHO, major newspapers, science journals, etc.).\n4. Never repeat the same news.\n\nOUTPUT FORMAT:\n- Always return exactly **five news objects** in a JSON array.\n- Example:\n[\n  {\"headline\":\"...\", \"summary\":\"...\"},\n  {\"headline\":\"...\", \"summary\":\"...\"},\n  {\"headline\":\"...\", \"summary\":\"...\"},\n  {\"headline\":\"...\", \"summary\":\"...\"},\n  {\"headline\":\"...\", \"summary\":\"...\"}\n]\n\nRULES:\n- If no exact matches are available, broaden to closely related themes based on the Topic and Example.\n- Always return 5 items. If necessary, adjust the date range slightly to ensure five.\n- Summaries must be short (1–2 sentences), factual, and unbiased.\n- Do not add commentary, explanations, URLs, or any text outside the JSON.\n\nGOAL:\nGiven a Topic and Example, output exactly 5 recent, trustworthy, and relevant news items in JSON format without URLs.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        96,
        0
      ],
      "id": "7b91886b-8e5d-41ea-87de-7318eccb16a5",
      "name": "news finder"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "read the names email and status using this tool and emails to the respective email addresses and include names to personalize the newsletter.",
        "documentId": {
          "__rl": true,
          "value": "1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU",
          "mode": "list",
          "cachedResultName": "newsletter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        592,
        240
      ],
      "id": "a45be608-50e2-406c-bed8-3e78144e08f6",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QdDvr4GhYX08yJKB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "you are a email sending bot. your work is to send email of the output given to you as input and send it to the users . use the sheet for the email addresses of the subscribers to whom u will send the email. also personalize the email by using names in the google sheet tool. use the email tool to send email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        0
      ],
      "id": "6ee2abe3-4625-43c4-970d-49d5e13088f4",
      "name": "email sender"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        192
      ],
      "id": "fd1f812a-8e11-43c7-b035-2f4e799150c2",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "news finder",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "email sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "news finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "email sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "news finder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "news finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "news finder": {
      "main": [
        [
          {
            "node": "email sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "email sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "news finder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "356ba2de-1b08-44c6-90bf-dd81a556dc36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d137d0d5029dd9b85ab300d7ac8c0fdc3ce0ceaf56a8665966a27a9e1668323"
  },
  "id": "U2F2g9xSVt5goY6w",
  "tags": []
}