newsletter(1).json
{
  "name": "newsletter",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e5178801-b9ec-44ee-9271-faf1340e62e3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "r3fQGaFophrn9p6u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use the tool to think about the news. make sure u understand the news and give the best eye catchyness to the news"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        32,
        368
      ],
      "id": "8e2f8354-5d0c-426a-bfa4-19a0f326f98b",
      "name": "Think"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send your output using this to all the subcribers of this newsletter",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `use the email from the sheet provided as input to fetcth the email address and send put them here one by one to send the newsletter to all the subscribers`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Health Living With Jallas (Newsletter) 311-313, Horn Lane, London`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `convert everything into html and make it designed like a professional newsletter. the top should contain the logo \"https://www.jallaspharmacy.com/wp-content/uploads/2023/08/Jallas-Pharmacy-2-768x768.png\" followed by the heading \"Jallas Pharmacy Newsletter\" and the address as tagline \"311-313 Horn Lane London, W3 0BU\".\nit should look attractive then u greet the person with his name and a brief message for the user. Then the news starts. Each of the news should be present in a seperate card which would have The headline of the news, then introduction section, then main report and then the summary for each news. all of them should be visible distinctively. Finally comes the footer of the news letter which should provide a button saying \"Click for Wellness and Health with Jallas Pharmacy\", this button should redirect to jallaspharmacy.com . then should come the copyright section with the year as 2010-2025. Let the color scheme be #e0f2f1.`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        480,
        320
      ],
      "id": "0d0a6c9e-2acd-466f-a1ec-a6ed0e11a7db",
      "name": "Send a message in Gmail",
      "webhookId": "8fe813bf-be49-4994-8cb7-dbf1a16b70fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "0bTor8ZI7qbldBCg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        176
      ],
      "id": "cd0626b3-13ea-4f27-9f97-b6f3b944cfb0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this tool to know the topics and get an idea about the topics by the examples proived ",
        "documentId": {
          "__rl": true,
          "value": "1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA",
          "mode": "list",
          "cachedResultName": "newsletter topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rF8uu2Tyip8lO2QsZMTuRJrHG6wYlF66hzPcQnbkJGA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -160,
        384
      ],
      "id": "a4e4069e-ca2c-4e1f-ba87-95129ad47703",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9IHvHdPAN2j98iJV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Readable date'] }}",
        "options": {
          "systemMessage": "=You are a News Finder Bot.\n\nDATA SOURCE:\n- You will receive rows from a Google Sheets tool. Choose any two rows randomly and generate exactly 5 news articles in total (row1 + row2 = 5 news). Make sure to choose a different combination each time.\n- Each row contains exactly:\n  - Topic (the subject you must find news about)\n  - Example (a sample headline or idea to guide your search. Do not include or copy the example at any point)\n\nYOUR TASK:\n1. For the Topics you choose (guided by the Examples), find **five distinct, trustworthy news articles** across both topics combined.\n2. News must be **as recent as possible**:\n   - Prefer articles from **yesterday or today**.\n   - If five are not available, expand to the past week, but always return five.\n3. Only include articles from reputable global sources (Reuters, AP, BBC, Bloomberg, The Guardian, WHO, major newspapers, science journals, etc.).\n4. Never repeat the same news.\n\nOUTPUT FORMAT:\n- Always return exactly **five news objects** in a JSON array.\n- Example:\n[\n  {\n    \"headline\":\"...\",\n    \"detailed_summary\":\"Introduction (3 lines)\\n\\nMain Report (8 lines)\\n\\nSummary (2-4 lines)\"\n  },\n  {\n    \"headline\":\"...\",\n    \"detailed_summary\":\"Introduction (3 lines)\\n\\nMain Report (8 lines)\\n\\nSummary (2-4 lines)\"\n  },\n  ...\n]\n\nRULES:\n- If no exact matches are available, broaden to closely related themes based on the Topics and Examples.\n- Always return 5 items. If necessary, adjust the date range slightly to ensure five.\n- Each detailed_summary must contain **10–15 lines total**, structured as:\n  - **Introduction (≈3 lines)**: brief context and why the story matters\n  - **Main Report (≈8 lines)**: the detailed facts, background, and updates\n  - **Summary (≈2–4 lines)**: concise wrap-up of the key takeaway\n- Keep tone factual, unbiased, and professional.\n- Do not add commentary, opinions, URLs, or any text outside the JSON.\n\nGOAL:\nGiven two chosen Topics and Examples, output exactly 5 recent, trustworthy, and relevant news items in JSON format with detailed, structured summaries.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        160
      ],
      "id": "a1485c3b-cb00-418e-bb52-3105e998e7a4",
      "name": "news finder"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "read the names email and status using this tool and emails to the respective email addresses and include names to personalize the newsletter.",
        "documentId": {
          "__rl": true,
          "value": "1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU",
          "mode": "list",
          "cachedResultName": "newsletter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1uzgtYwdBflwp4htiE7aAqV-_F7lWivI57BIK0buzU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        256,
        400
      ],
      "id": "a323956c-1177-4a6d-8061-b66a62ea86d9",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9IHvHdPAN2j98iJV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "you are a email sending bot. your work is to send email of the output given to you as input and send it to the users . use the sheet for the email addresses of the subscribers to whom u will send the email. also personalize the email by using names in the google sheet tool. use the gmail tool everytime."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        160
      ],
      "id": "32151392-0b11-428b-85d0-6a4f2a8feccd",
      "name": "email sender"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "output",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        352
      ],
      "id": "f9d9fedc-f10d-4dd7-8c7e-78fddfc0930d",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "news finder",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "email sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "news finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "email sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "news finder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "news finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "news finder": {
      "main": [
        [
          {
            "node": "email sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "email sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "news finder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ad8bca5-4849-44e4-a803-889a352da0e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30e8840a5d55d1e1b6af4c778e833f7fe652325f38939676863a8cb542d69c34"
  },
  "id": "hCKGK2ZhQ54q0lxv",
  "tags": []
}