VAM(2).json
{
  "name": "VAM",
  "nodes": [
    {
      "parameters": {
        "formTitle": "contact us",
        "formDescription": "Our Ai Will Take Care Of Our Partnership",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name",
              "placeholder": "Your Company",
              "requiredField": true
            },
            {
              "fieldLabel": "Number",
              "fieldType": "number",
              "placeholder": "Your Number",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Your Email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -304,
        144
      ],
      "id": "b1abc2ed-d47e-4e8a-a894-cd8b83c8cbc5",
      "name": "On form submission",
      "webhookId": "818ea3b9-d09b-4ec9-8ca6-5cb37410a202"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        144
      ],
      "id": "d34a1083-bc27-4de5-9b86-4528e8e11e8c",
      "name": "Wait",
      "webhookId": "94a87a90-5210-4062-bfb7-67669a0d92d0"
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "upsert",
        "Company": "={{ $json[\"Company Name\"] }}",
        "lastName": "={{ $json.Name ? $json.Name.split(\" \")[0] : \"\" }}\n",
        "additionalFields": {
          "Email": "={{ $json.Email }}",
          "Lead_Status": "New Lead"
        }
      },
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        -96,
        144
      ],
      "id": "191343b1-13ae-4333-aa83-c8465ab62ee1",
      "name": "Create or update a lead",
      "alwaysOutputData": true,
      "credentials": {
        "zohoOAuth2Api": {
          "id": "y5DyYRnRc0pauE0I",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a475566-94cf-4024-9fdd-f266be76f127",
              "leftValue": "={{ $json.data[0].Lead_Status }}",
              "rightValue": "Contacted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        144
      ],
      "id": "eb1f09dc-4533-4939-aaa5-9f7235f9436a",
      "name": "If"
    },
    {
      "parameters": {
        "content": "##  Lead Capture",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        16
      ],
      "typeVersion": 1,
      "id": "055f56cf-06df-4fc5-b146-170f81f9c3a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.data[0].Email }}",
        "subject": "=Just checking in – ready to support {{ $json.data[0].Company }}",
        "emailType": "text",
        "message": "=Hi {{ $json.data[0].Last_Name }},  I hope this message finds you well!   We recently connected regarding how DamnArt can support your growth, and I wanted to follow up to see if you had a chance to review our initial conversation.    We’d love to explore how we can help {{ $json.data[0].Company }} with Digital Marketing.    Would you be open to a quick call this week to discuss your goals?    Looking forward to your thoughts.    Best regards,   Rounak Dutta   DamnArt  ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        -48
      ],
      "id": "40a20d04-b6ab-40ba-8b81-2e8614ab7134",
      "name": "Send a message",
      "webhookId": "34f91906-f206-45e0-a640-617a64ea3389",
      "credentials": {
        "gmailOAuth2": {
          "id": "0bTor8ZI7qbldBCg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Lead Nurturing\n",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        144
      ],
      "typeVersion": 1,
      "id": "5e06b9b9-0e50-433f-8379-f08871d3f734",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "get",
        "leadId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        352,
        144
      ],
      "id": "0c6faf89-fc83-49ae-89c7-6bb020801044",
      "name": "Get a lead",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "zohoOAuth2Api": {
          "id": "y5DyYRnRc0pauE0I",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "get",
        "leadId": "={{ $('Wait').item.json.id }}"
      },
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        1248,
        -48
      ],
      "id": "719f5f4a-92aa-4e22-8c79-26ac7ed92792",
      "name": "Get a lead1",
      "alwaysOutputData": true,
      "credentials": {
        "zohoOAuth2Api": {
          "id": "y5DyYRnRc0pauE0I",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        -48
      ],
      "id": "9e5b9f3e-1403-490e-8e4d-409d1e02df90",
      "name": "Wait1",
      "webhookId": "07999e72-0567-47c2-bab1-43642950e778"
    },
    {
      "parameters": {
        "content": "## Proposal",
        "height": 80,
        "width": 230
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        368
      ],
      "typeVersion": 1,
      "id": "1d2e2422-ed06-436c-964e-a5964fd98912",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "09081c46-4b98-40e9-85cf-4ad006bf0d8c",
              "leftValue": "={{ Math.floor(\n  (\n    (() => {\n      const d = new Date();\n      const offset = 5.5 * 60; // IST offset in minutes\n      const local = new Date(d.getTime() + offset*60*1000 - d.getTimezoneOffset()*60*1000);\n      return local;\n    })().getTime() - new Date($json.data[0].Last_Activity_Time).getTime()\n  ) / (1000*60*60*24)\n)}}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        128
      ],
      "id": "d5f65a47-f990-4ffc-a5d0-072bff92b17c",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.data[0].Email }}",
        "subject": "Thank You For Responding. Here's The Next Steps",
        "emailType": "text",
        "message": "=Hello  {{ $json.data[0].Last_Name }},\nThank you for showing interest in Damn Arts! 🎉  \n\nYour dedicated account manager, Vishal, will personally guide you through our digital marketing services and make sure your campaigns are a success.   \n\nWe’re excited to get started and will reach out shortly with a personalized proposal tailored to your business goals.  \n\nBest regards,  \nThe Damn Arts Team  \n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        144
      ],
      "id": "add40146-5f7f-4f5f-bb8b-183fa7f96a11",
      "name": "Send a message1",
      "webhookId": "a732bdc7-bcc9-425a-85a4-70bc327a18df",
      "credentials": {
        "gmailOAuth2": {
          "id": "0bTor8ZI7qbldBCg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "upsert",
        "Company": "={{ $('On form submission').item.json[\"Company Name\"] }}",
        "lastName": "={{ $('On form submission').item.json.Name }}",
        "additionalFields": {
          "Lead_Status": "cold lead"
        }
      },
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        1696,
        128
      ],
      "id": "6ef224cc-9556-4d9d-b281-e7ad5ceef8d4",
      "name": "Create or update a lead1",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "y5DyYRnRc0pauE0I",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1SKUAXf90YJHz8YB7AER9hu3CwUb9XdfjQ7HIUYtJ6AE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SKUAXf90YJHz8YB7AER9hu3CwUb9XdfjQ7HIUYtJ6AE/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        480
      ],
      "id": "19f432bc-c654-469b-ad6b-57827c3276f6",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ReK1LhaYSLHhwOR0",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1CIcuoe4YcyWWUnp7voNpE8Ex-t_LX-nk",
        "title": "=Project For {{ $json.name }}({{ $json.company }})"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -96,
        480
      ],
      "id": "2498ae76-fe68-465b-b14d-0f3c16da7898",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ljfuxLX1Yu7WmT7f",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"client_name\": \"{{ $('Google Sheets Trigger').item.json.name }}\",\n  \"company_name\": \"{{ $('Google Sheets Trigger').item.json.company }}\",\n  \"timeline\": \"{{ $('Google Sheets Trigger').item.json.timeline }}\",\n  \"budget\": \"{{ $('Google Sheets Trigger').item.json.budget }}\",\n  \"project_summary\": \"{{ $('Google Sheets Trigger').item.json.project_summary }}\"\n} ",
        "options": {
          "systemMessage": "=You are a professional proposal writer for Damn Arts.\n\nCreate a project proposal for {{ $('Google Sheets Trigger').item.json.name }} from {{ $('Google Sheets Trigger').item.json.company }}. \nInclude the following sections in a polished format:\n\n1. Project Overview\n2. Our Solution\n3. Timeline: {{ $('Google Sheets Trigger').item.json.timeline }}\n4. Pricing: {{ $('Google Sheets Trigger').item.json.budget }}\n\nWrite in a professional and persuasive tone suitable for a business client.\n\n⚡ Format requirements (Google Docs-friendly):\n- Use clear section titles in ALL CAPS (e.g., \"PROJECT OVERVIEW\").\n- Add line breaks instead of Markdown symbols (#, **, ---).\n- Use indentation or bullet points for lists.\n- Emphasize important values (client name, budget, timeline) in ALL CAPS or with surrounding line breaks.\n- Keep it clean and readable without Markdown or HTML.\n- Do not include ``` or --- or ** in the output.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        128,
        480
      ],
      "id": "92114127-b327-4942-b992-de75cda9b9f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        704
      ],
      "id": "0f81304c-9d7d-4d62-819b-76c5cc68db38",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "r3fQGaFophrn9p6u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Create a document').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        480,
        480
      ],
      "id": "156efb7a-5b7d-4100-8744-91e44a1eab9c",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ljfuxLX1Yu7WmT7f",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wRinr6KXXVbEYcRwXTOpVMS4w_JXbz4u",
          "mode": "list",
          "cachedResultName": "final proposal",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wRinr6KXXVbEYcRwXTOpVMS4w_JXbz4u"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        896,
        480
      ],
      "id": "5bb47fd7-f80d-43ed-92bd-aeb0825ebdfd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kExZ2dFK2lGA8jpt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Sending Proposal\n",
        "height": 80,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        384
      ],
      "typeVersion": 1,
      "id": "aed24b1a-ae5d-4227-8efa-2af915e1d882",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.name }}",
        "message": "=<a href=\"{{ $('Download file').item.json.exportLinks[\"application/pdf\"] }}\">Download here</a>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        336
      ],
      "id": "6f184e06-1d84-4ed1-82e2-d38df384f8a1",
      "name": "Send a message2",
      "webhookId": "605a68c9-1cfa-4bcf-bd52-e66f2f7e3571",
      "credentials": {
        "gmailOAuth2": {
          "id": "0bTor8ZI7qbldBCg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SKUAXf90YJHz8YB7AER9hu3CwUb9XdfjQ7HIUYtJ6AE",
          "mode": "list",
          "cachedResultName": "VAM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SKUAXf90YJHz8YB7AER9hu3CwUb9XdfjQ7HIUYtJ6AE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SKUAXf90YJHz8YB7AER9hu3CwUb9XdfjQ7HIUYtJ6AE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        480
      ],
      "id": "79805909-8afd-4d33-b725-77d2a781165e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9IHvHdPAN2j98iJV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "12adf38a-da5c-4fc0-b82a-cba4a6157560",
              "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
              "rightValue": "={{ $json.name }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "19c63116-1445-4853-9cda-e21b55e93437",
              "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
              "rightValue": "={{ $json.company }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        480
      ],
      "id": "47a6e21f-0977-4689-9759-e4a5fe8d296f",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        480
      ],
      "id": "8d0800b3-5812-436a-97b1-4fe7bdba4a61",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kExZ2dFK2lGA8jpt",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Create or update a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a lead": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a lead": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a lead1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get a lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create or update a lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "caf8e857-60cf-4542-814e-77b9dcf7f1d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30e8840a5d55d1e1b6af4c778e833f7fe652325f38939676863a8cb542d69c34"
  },
  "id": "ikL5iq2s9iys8eOS",
  "tags": []
}