VAM.json
{
  "name": "VAM",
  "nodes": [
    {
      "parameters": {
        "formTitle": "contact us",
        "formDescription": "Our Ai Will Take Care Of Our Partnership",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name",
              "placeholder": "Your Company",
              "requiredField": true
            },
            {
              "fieldLabel": "Number",
              "fieldType": "number",
              "placeholder": "Your Number",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Your Email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -320,
        -48
      ],
      "id": "b1abc2ed-d47e-4e8a-a894-cd8b83c8cbc5",
      "name": "On form submission",
      "webhookId": "818ea3b9-d09b-4ec9-8ca6-5cb37410a202"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        -48
      ],
      "id": "d34a1083-bc27-4de5-9b86-4528e8e11e8c",
      "name": "Wait",
      "webhookId": "94a87a90-5210-4062-bfb7-67669a0d92d0"
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "upsert",
        "Company": "={{ $json[\"Company Name\"] }}",
        "lastName": "={{ $json.Name ? $json.Name.split(\" \")[0] : \"\" }}\n",
        "additionalFields": {
          "Email": "={{ $json.Email }}",
          "Lead_Status": "={{ $json.status }}"
        }
      },
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        -96,
        -48
      ],
      "id": "191343b1-13ae-4333-aa83-c8465ab62ee1",
      "name": "Create or update a lead",
      "alwaysOutputData": true,
      "credentials": {
        "zohoOAuth2Api": {
          "id": "y5DyYRnRc0pauE0I",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a475566-94cf-4024-9fdd-f266be76f127",
              "leftValue": "={{ $json.data[0].Lead_Status }}",
              "rightValue": "Contacted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        288
      ],
      "id": "eb1f09dc-4533-4939-aaa5-9f7235f9436a",
      "name": "If"
    },
    {
      "parameters": {
        "content": "##  Lead Capture",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -160
      ],
      "typeVersion": 1,
      "id": "055f56cf-06df-4fc5-b146-170f81f9c3a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.data[0].Email }}",
        "subject": "=Just checking in – ready to support {{ $json.data[0].Company }}",
        "emailType": "text",
        "message": "=Hi {{ $json.data[0].Last_Name }},  I hope this message finds you well!   We recently connected regarding how DamnArt can support your growth, and I wanted to follow up to see if you had a chance to review our initial conversation.    We’d love to explore how we can help {{ $json.data[0].Company }} with Digital Marketing.    Would you be open to a quick call this week to discuss your goals?    Looking forward to your thoughts.    Best regards,   Rounak Dutta   DamnArt  ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "40a20d04-b6ab-40ba-8b81-2e8614ab7134",
      "name": "Send a message",
      "webhookId": "34f91906-f206-45e0-a640-617a64ea3389",
      "credentials": {
        "gmailOAuth2": {
          "id": "0bTor8ZI7qbldBCg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Lead Nurturing\n",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        160
      ],
      "typeVersion": 1,
      "id": "5e06b9b9-0e50-433f-8379-f08871d3f734",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "get",
        "leadId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        336,
        -48
      ],
      "id": "0c6faf89-fc83-49ae-89c7-6bb020801044",
      "name": "Get a lead",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "zohoOAuth2Api": {
          "id": "y5DyYRnRc0pauE0I",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "get",
        "leadId": "={{ $('Wait').item.json.id }}"
      },
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        544,
        192
      ],
      "id": "719f5f4a-92aa-4e22-8c79-26ac7ed92792",
      "name": "Get a lead1",
      "alwaysOutputData": true,
      "credentials": {
        "zohoOAuth2Api": {
          "id": "y5DyYRnRc0pauE0I",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        176
      ],
      "id": "9e5b9f3e-1403-490e-8e4d-409d1e02df90",
      "name": "Wait1",
      "webhookId": "07999e72-0567-47c2-bab1-43642950e778"
    },
    {
      "parameters": {
        "content": "## Proposal",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        528
      ],
      "typeVersion": 1,
      "id": "1d2e2422-ed06-436c-964e-a5964fd98912",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "09081c46-4b98-40e9-85cf-4ad006bf0d8c",
              "leftValue": "={{ Math.floor(\n  (\n    (() => {\n      const d = new Date();\n      const offset = 5.5 * 60; // IST offset in minutes\n      const local = new Date(d.getTime() + offset*60*1000 - d.getTimezoneOffset()*60*1000);\n      return local;\n    })().getTime() - new Date($json.data[0].Last_Activity_Time).getTime()\n  ) / (1000*60*60*24)\n)}}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        288
      ],
      "id": "d5f65a47-f990-4ffc-a5d0-072bff92b17c",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        -48
      ],
      "id": "52d352af-0deb-4f60-a61a-09dffa2eacf0",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.data[0].Email }}",
        "subject": "Thank You For Responding. Here's The Next Steps",
        "emailType": "text",
        "message": "=Hello  {{ $json.data[0].Last_Name }},\nThank you for showing interest in Damn Arts! 🎉  \n\nYour dedicated account manager, Vishal, will personally guide you through our digital marketing services and make sure your campaigns are a success.   \n\nWe’re excited to get started and will reach out shortly with a personalized proposal tailored to your business goals.  \n\nBest regards,  \nThe Damn Arts Team  \n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        528
      ],
      "id": "add40146-5f7f-4f5f-bb8b-183fa7f96a11",
      "name": "Send a message1",
      "webhookId": "a732bdc7-bcc9-425a-85a4-70bc327a18df",
      "credentials": {
        "gmailOAuth2": {
          "id": "0bTor8ZI7qbldBCg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        528
      ],
      "id": "29f48af3-e4e2-496a-85a3-3b080505a086",
      "name": "Wait2",
      "webhookId": "39cdad45-00bb-45a3-9511-8484acbb3005"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are a proposal creater For DamnArts A Digital Marketing agency. we have a client  {{ $json.name }}, who is having a {{ $json[\"problem to solve\"] }}. The solution what we have thought is to {{ $json.solution }}\nyou need to make a professional proposal for this client. it should be eye catchy and clear with backgrounds and headings. Use the google drive tool to create/store the proposal",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        512
      ],
      "id": "e88aa6ba-6f7e-4c0d-a524-b120fdfe1742",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        768
      ],
      "id": "5e091be7-d66a-4b7e-a35f-c348b890aa86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "r3fQGaFophrn9p6u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"output\":\"proposal_in_html\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        768
      ],
      "id": "9a4b1618-c4b5-4861-9e74-5e59f2628f61",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', `this is where you create a proposal. make it eye catchy and designed beautifully for the client with clear headings backgrounds etc`, 'string') }}",
        "name": "Proposal",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1CIcuoe4YcyWWUnp7voNpE8Ex-t_LX-nk",
          "mode": "list",
          "cachedResultName": "VAM",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1CIcuoe4YcyWWUnp7voNpE8Ex-t_LX-nk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        560,
        800
      ],
      "id": "bdfa2ef6-5467-4194-892a-21454264ad3d",
      "name": "Create file from text in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kExZ2dFK2lGA8jpt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1SKUAXf90YJHz8YB7AER9hu3CwUb9XdfjQ7HIUYtJ6AE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SKUAXf90YJHz8YB7AER9hu3CwUb9XdfjQ7HIUYtJ6AE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        112,
        704
      ],
      "id": "cbb22721-da1c-4f3d-81bb-3f1d05967123",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ReK1LhaYSLHhwOR0",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Name": "Rounak Dutta",
          "Company Name": "DamnArt",
          "Number": 9815121578,
          "Email": "rounak153d@gmail.com",
          "submittedAt": "2025-09-08T07:15:13.284-04:00",
          "formMode": "test",
          "status": "new lead"
        }
      }
    ],
    "Create or update a lead": [
      {
        "json": {
          "Modified_Time": "2025-09-09T09:55:52+05:30",
          "Modified_By": {
            "name": "damnart.wp",
            "id": "1017464000000413001"
          },
          "Created_Time": "2025-09-08T17:01:51+05:30",
          "id": "1017464000000433001",
          "Created_By": {
            "name": "damnart.wp",
            "id": "1017464000000413001"
          }
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Create or update a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a lead": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a lead": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a lead1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get a lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "cf630682-f14c-44b7-938a-58ec5419430c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30e8840a5d55d1e1b6af4c778e833f7fe652325f38939676863a8cb542d69c34"
  },
  "id": "ikL5iq2s9iys8eOS",
  "tags": []
}